

  .headings{
    margin: 50px 0 60px 0;
    text-align: center;
  }


  h2{
    text-align:center ;
      padding: 30px;
      margin: 20px;
  }

.boxesRow{
  height: 300px;
}

.firstDiv{
  background: red;
  border:3px solid #0000;
  margin: 50px;
}

.firstDivNew{
  background: magenta;
  border:3px solid green;
}

.secondDiv{
  background: blue;
  border: 3px dashed yellow;
  margin:  50px;
}

.secondDivNew{
  background: orange;
  border: 3px dashed purple;
}

.thirdDiv{
  background: limegreen;
  border: 3px solid purple;
  margin: 50px;
}

.thirdDivNew{
  background: white;
  border: 3px solid pink;
}


.changeAllColors{
  background: black;
  border: 10px dotted cadetblue;
}

.changeTitle{
  color: black;
  text-decoration: underline;
}

.rowBtns span{
  background: #e5e5e5;
  margin-bottom:20px;
  padding: 5px 10px;
}

.resetAllBtn a{
  color: #000000;
}

.buttons{
  margin-top: 50px;
}